<div class="content_area">
  <%= render :partial => 'model_container', :locals => {:model => @model} %>
</div>
<div id="form_container" class="sidebar">
<!--	
	<ul>
		<li>New Model</li>
		<li>New Column</li>
		<li>New Association</li>
	</ul>
-->
</div>
<div style="clear:both;"></div>
<br />
<% @assocs_hash.each do |assoc_type, assocs|%>
  <%= render :partial => 'model_assoc', :locals => {:assoc_type => assoc_type, :assocs => assocs} %>
<% end %>