<div class="content_area">
  <%= render :partial => 'model_container', :locals => {:model => @model} %>
</div>
<div style="clear:both;"></div>
<br />
<% @assocs_hash.each do |assoc_type, assocs|%>
  <%= render :partial => 'model_assoc', :locals => {:assoc_type => assoc_type, :assocs => assocs} %>
<% end %>